.listing-grid-item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.listing-grid-item {
  margin-top: 2rem !important;
  border: 1px solid #ccc;
  background: #fff;
  transition: box-shadow 0.3s;
  border-radius: 5px;
  text-align: left;
  padding: 1rem;
}

.listing-selected-field {
  font-weight: 100;
  font-size: medium;
}

.listing-selected-list {
  margin-left: 3rem;
}

.listing-selected-error {
  color: #b04759;
  margin: 0;
  font-size: small;
}

.listing-selected-button {
  line-height: 0 !important;
  texttransform: "none" !important;
  margin-top: 1rem !important;
  width: 40vh;
}

.listing-selected-button-div {
  margin-left: 50vh !important;
}

.listing-selected-submit-button {
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
  margin-left: 0.5rem !important;
}

.listing-selected-container-second {
  padding-bottom: 3rem;
}

.listing-field-names {
  font-weight: bold !important;
}

.listing-selected-div {
  background-color: #a4d0a4;
  min-height: 100vh;
}

.uploaded-resume {
  margin-top: 1rem !important;
}
