.listings-container {
  /* margin-bottom: 2rem !important; */
  padding-left: 5rem;
  padding-bottom: 3rem !important;
}

.listings-grid-item:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.listings-grid-item {
  margin: 3rem 0 0 3rem !important;
  transition: box-shadow 0.3s;
  /* width: 300px; */
  height: 9rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  padding: 1rem;
  text-align: left;
  padding-botttom: 3rem !important;
}

.listing-title {
  font-weight: bold;
  font-size: x-large;
}

.listing-location {
  /* background-color: #f1f6f9; */
  font-weight: 100;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
}

.listing-briefdescription {
  color: navy;
  /* white-space: nowrap; */
  height: 3.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.listing-title-font {
  font-weight: bold;
  margin: 0.5rem 0 0 0;
}

.listing-location-font {
  background-color: #f1f6f9;
  margin: 0;
  font-style: italic;
  display: inline;
}

.listing-briefdescription-font {
  color: navy;
  margin: 0.5rem 0;
}

.listings-grid-buttonbase {
  text-align: justify;
}

.listings-div {
  background-color: #6c9bcf;
  min-height: 100vh;
}
