.navbaruser-div {
  font-family: "Fira Sans", sans-serif !important;
}

.helpMe {
  display: none;
}

.user-details {
  padding: 0.25rem 1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  color: #251b37;
}

.logout-button {
  color: #e14d2a;
  display: inline;
}

.logout {
  float: right;
  cursor: pointer;
  padding-bottom: 5px;
}

.logo {
  cursor: pointer;
}

.dashboard-button {
  color: #8b1874;
  /* display: inline; */
  cursor: pointer;
  margin: 0;
}

.navbaruser-sentence {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 700 !important;
  padding-top: 1%;
  /* position: absolute;
  left: 50%; */
}

.navbar-user-logo {
  /* padding-top: 6%; */
  margin-top: 6%;
}

.navbar-user-backbutton {
  padding-top: 0.5%;
}

.navbar-accounticon {
  display: inline-block;
}

@media only screen and (max-width: 949px) {
  .navbar-topcorner {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .navbar-topleftcorner {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
