.navbaruser-div {
  font-family: "Fira Sans", sans-serif !important;
}

.helpMe {
  display: none;
}

.user-details {
  padding: 0.25rem 1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  color: #251b37;
}

.logout-button {
  color: #e14d2a;
  display: inline;
}

.logout {
  float: right;
  cursor: pointer;
  padding-bottom: 5px;
}

.dashboard-button {
  color: #8b1874;
  /* display: inline; */
  cursor: pointer;
  margin: 0;
}

.navbaruser-sentence {
  color: #ffead2;
  font-weight: bolder;
}
