.search-bar {
  width: 10rem;
  height: 2rem;
  border: 2px solid #ccc;
  border-radius: 9px;
  padding: 5px 10px;
  font-size: 14px;
  outline: none;
  margin: auto;
  margin-top: 2rem;
}

.search-bar-div {
  display: inline-flex;
}

.search {
  margin-top: 2rem;
  width: 25rem;
  /* height: 40px; */
  border-radius: 9px;
  /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); */
  /* transform: translate(-50%, -50%); */
  /* background: #fff; */
  /* transition: all 0.3s ease; */
  padding: 0.5rem;
  font-size: 13px;
}

@media only screen and (max-width: 949px) {
  .search {
    width: 10rem;
  }
}
